{% load bootstrap4 %}
{% load i18n %}

<!DOCTYPE html>
<html lang="ru-ru">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% translate "AppNameTitle" %}{% endblock %}</title>
    {% bootstrap_css %}
</head>

<body class="d-flex flex-column min-vh-100">
    {# добавляем панель навигации из nav.html #}
    {% include 'task_manager/nav.html' %}
</body>

</html>