{% load i18n %}

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">

    <a class="navbar-brand" href="{% url '/' %}">{% trans 'AppNameLink' %}</a>

    <button class="navbar-toggler collapsed" data-toggle="collapse" data-target="#navbarToggleExternalContent"
        aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarToggleExternalContent" style="">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url '/' %}">{% trans 'UsersLink' %}</a>
                <!--users-->
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url '/' %}">{% trans 'LoginLink' %}</a>
                <!--login-->
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url '/' %}">{% trans 'CreateUserLink' %}</a>
                <!--users:create-->
            </li>
        </ul>
    </div>

</nav>